<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassDefaults</key>
	<dict>
		<key>Warrior</key>
		<dict>
			<key>Strength</key>
			<dict>
				<key>Level</key>
				<integer>0</integer>
				<key>Modifier</key>
				<integer>3</integer>
				<key>Bonus</key>
				<integer>1</integer>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Level</key>
				<integer>0</integer>
				<key>Modifier</key>
				<integer>1</integer>
				<key>Bonus</key>
				<integer>1</integer>
			</dict>
			<key>Constitution</key>
			<dict>
				<key>Level</key>
				<integer>0</integer>
				<key>Modifier</key>
				<integer>2</integer>
				<key>Bonus</key>
				<integer>2</integer>
			</dict>
			<key>Intelligence</key>
			<dict>
				<key>Level</key>
				<integer>0</integer>
				<key>Modifier</key>
				<integer>0</integer>
				<key>Bonus</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>RaceDefaults</key>
	<dict>
		<key>Human</key>
		<dict>
			<key>MovementPoints</key>
			<integer>1</integer>
			<key>BaseXP</key>
			<integer>25</integer>
			<key>Health</key>
			<dict>
				<key>Base</key>
				<integer>7</integer>
			</dict>
			<key>Magic</key>
			<dict>
				<key>Base</key>
				<integer>3</integer>
			</dict>
			<key>Stamina</key>
			<dict>
				<key>Base</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>Weapons</key>
	<dict>
		<key>Hands</key>
		<dict>
			<key>Name</key>
			<string>Hands</string>
			<key>WeaponType</key>
			<string>Melee</string>
			<key>Accuracy</key>
			<integer>100</integer>
			<key>Move</key>
			<string>Punch</string>
			<key>Damage</key>
			<integer>1</integer>
			<key>Weight</key>
			<integer>0</integer>
			<key>Value</key>
			<integer>0</integer>
			<key>Sellable</key>
			<false/>
		</dict>
	</dict>
	<key>Armor</key>
	<dict>
		<key>Clothes</key>
		<dict>
			<key>Name</key>
			<string>Clothes</string>
			<key>ArmorSlot</key>
			<string>Body</string>
			<key>Defense</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>2</integer>
			<key>Weight</key>
			<integer>0</integer>
			<key>Value</key>
			<integer>0</integer>
			<key>Sellable</key>
			<false/>
		</dict>
	</dict>
	<key>AttackMoves</key>
	<dict>
		<key>Punch</key>
		<dict>
			<key>Name</key>
			<string>Punch</string>
			<key>Damage</key>
			<integer>1</integer>
			<key>CriticalChance</key>
			<integer>0</integer>
			<key>Points</key>
			<real>10000</real>
		</dict>
	</dict>
	<key>CharacterDefaults</key>
	<dict>
		<key>Name</key>
		<string>Default</string>
		<key>Race</key>
		<string>Human</string>
		<key>Kind</key>
		<string>Warrior</string>
		<key>Level</key>
		<integer>1</integer>
		<key>Weapon</key>
		<string>Hands</string>
		<key>Armor</key>
		<string>Clothes</string>
	</dict>
</dict>
</plist>
